* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  width: 100vw;
  height: 50px;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.mobile-btn {
  background-color: transparent;
  color: white;
  border: none;
}

.menu-mobile {
  transform: scale(0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2a2a;
}

.menu-mobile > div {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  color: white;
}

.menu-mobile ul {
  height: 60vh;
  width: 80vw;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-mobile li {
  border-bottom: 1px solid #ff9506;
}

.menu-mobile button {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.menu-mobile.show {
  transform: scale(1);
  transition: 200ms ease-in-out;
}

.time {
  display: none;
}

.main-list {
  width: 100vw;
  min-height: 90vh;
  background-image:
    linear-gradient(
      rgba(15, 8, 8, 0.5),
      rgba(15, 7, 7, 0.5)
    ),
    url(./assets/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-list.hidden {
  display: none;
}

.container {
  padding-bottom: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  max-height: 700px;
  border-radius: 5px;
  background-color: #2a2a2a;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.77);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.77);
}

.title h1 {
  letter-spacing: 3px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.book-container {
  overflow-y: auto;
  width: 90%;
  max-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.book {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.book:nth-child(odd) {
  background-color: #d6d6d6;
}

.book:nth-child(even) {
  background-color: white;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.aboutContainer h4 {
  font-size: 14px;
  margin-left: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.aboutContainer span {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 5px;
}

.book button {
  margin-right: 15px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #ff9506;
}

.fields button {
  align-self: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 28%;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #ff9506;
}

.book button:hover {
  background-color: #ff6308;
  transition: 200ms ease-in-out;
}

.main-add {
  width: 100vw;
  min-height: 90vh;
  background-image:
    linear-gradient(
      rgba(15, 8, 8, 0.5),
      rgba(15, 7, 7, 0.5)
    ),
    url(./assets/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-add.visible {
  display: flex;
}

.fields {
  margin-bottom: 35px;
  text-align: center;
  margin-top: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.fields h1 {
  letter-spacing: 3px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}

.fields input {
  color: white;
  background-color: #444;
  padding: 5px 8px;
  margin-bottom: 15px;
}

.fields input::placeholder {
  color: white;
}

.fields button:hover {
  background-color: #ff6308;
  transition: 200ms ease-in-out;
}

.main-contact {
  width: 100vw;
  height: 85vh;
  background-image:
    linear-gradient(
      rgba(15, 8, 8, 0.5),
      rgba(15, 7, 7, 0.5)
    ),
    url(./assets/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-contact.visible {
  display: flex;
}

.contact-page {
  color: white;
  width: 80vw;
}

.contact-page h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.contact-page p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.contact-page ul {
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
}

.contact-page li {
  margin-top: 5px;
  font-size: 14px;
}

footer {
  background-color: #2a2a2a;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 35px;
  display: flex;
  align-items: center;
  height: 50px;
}

footer .footer-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
}

@media only screen and (min-width: 790px) {
  .time {
    display: block;
    width: 230px;
    background-color: transparent;
    position: fixed;
    top: 65px;
    right: 75px;
    z-index: 999;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
  }

  .time ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .time .hour {
    text-align: center;
    width: 70px;
  }

  .main-list {
    min-height: 90vh;
    display: flex;
  }

  .main-list.hidden {
    display: none;
  }

  .main-add {
    min-height: 90vh;
    display: none;
  }

  .main-add.visible {
    display: flex;
  }

  .main-contact {
    min-height: 90vh;
    display: none;
  }

  .main-contact.visible {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    background-color: #2a2a2a;
    padding: 0 55px;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-desktop div button {
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ff9506;
    font-size: 18px;
    letter-spacing: 3px;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
  }

  .nav-desktop ul {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }

  .nav-desktop ul button {
    color: white;
    border: none;
    font-size: 18px;
    letter-spacing: 3px;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
  }

  .nav-desktop ul button:hover {
    transition: 300ms ease-in-out;
    color: #ff9506;
    border-bottom: 1px solid #ff9506;
  }

  .menu-mobile {
    display: none;
  }

  .container {
    margin: 0 0;
    width: 60%;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  .book-container {
    max-height: 65vh;
    overflow-y: auto;
  }

  .fields {
    width: 40%;
  }

  footer {
    background-color: #2a2a2a;
    padding-left: 35px;
    display: flex;
    align-items: center;
    height: 4vh;
  }

  .contact-page {
    color: white;
    width: auto;
  }

  .contact-page h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
  }

  .contact-page p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  .contact-page ul {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
  }
}
