* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  min-height: 100vh;
  background-image:
    linear-gradient(
      rgba(15, 8, 8, 0.5),
      rgba(15, 7, 7, 0.5)
    ),
    url(./assets/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  background-color: #2a2a2a;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.77);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.77);
}

.title h1 {
  letter-spacing: 3px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.book-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border: 1px solid rgb(58, 58, 58);
}

.book {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.book:nth-child(odd) {
  background-color: #d6d6d6;
}

.book:nth-child(even) {
  background-color: white;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.aboutContainer h4 {
  font-size: 14px;
  margin-left: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.aboutContainer span {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 5px;
}

.book button {
  margin-right: 15px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #ff9506;
}

.fields button {
  align-self: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 28%;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #ff9506;
}

.book button:hover {
  background-color: #ffa42d;
  transition: 200ms ease-in-out;
  transform: scale(1.01);
}

.fields {
  margin-bottom: 35px;
  text-align: center;
  margin-top: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.fields::before {
  margin-top: 20px;
  margin-bottom: 30px;
  align-self: center;
  display: block;
  content: '';
  height: 2px;
  width: 180px;
  border-radius: 5px;
  background-color: #ff9506;
  position: relative;
}

.fields h1 {
  letter-spacing: 3px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}

.fields input {
  color: white;
  background-color: #444;
  padding: 5px 8px;
  margin-bottom: 15px;
}

.fields input::placeholder {
  color: white;
}

.fields button:hover {
  background-color: #ffa42d;
  transition: 200ms ease-in-out;
  transform: scale(1.02);
}

@media only screen and (min-width: 790px) {
  .nav-desktop {
    background-color: #2a2a2a;
    padding: 0 55px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-desktop div button {
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ff9506;
    font-size: 18px;
    letter-spacing: 3px;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
  }

  .nav-desktop ul {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }

  .nav-desktop ul button {
    color: white;
    border: none;
    font-size: 18px;
    letter-spacing: 3px;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
  }

  .nav-desktop ul button:hover {
    transition: 300ms ease-in-out;
    color: #ff9506;
    border-bottom: 1px solid #ff9506;
  }
  
  .container {
    margin: 15px 0;
    width: 60%;
  }

  .fields {
    width: 60%;
  }
}
